@media screen and (max-width:700px){
	.mainBody{
		width:100%;
	}
	.typeBox{
		width:100%;
		height: 120px;
		background: red;
		margin: 0px;
		border-radius: 0px;
	}
	.typeTxt{
		color: #FFF;
		font-family: Tahoma;
		font-size: 1.9em;
		margin:auto;
		margin-top: 42px;
	}
	.uploadBox{
		align-items: center;
	    display: flex;
	  	justify-content: center;
	}
}